:root {
    --primary: #ffd700;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--bg);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #ccad00;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav {
    padding-top: 0.5rem;
}

.navbar .navbar-nav a {
    color: white;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav .navbar-icon a:hover {
    color: white;
    width: 2rem;
    height: 1.5rem;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: white;
    margin: 0 1rem;
}

.navbar .navbar-extra .navbar-search {
    width: 2.2rem;
    height: 2.2rem;
}

.navbar .navbar-extra .navbar-search:hover {
    color: var(--primary);
}


#hamburger-menu {
    display: none;
}

/* AKHIR NAVBAR */

/* HERO SECTION */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/Home/Header-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg,
            rgba(1, 1, 3, 1) 8%,
            rgba(255, 255, 255, 0) 50%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--bg);
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* AKHIR HERO SECTION */

/* ABOUT SECTIONS */
.about,
.materi {
    padding: 8rem 7% 1.4rem;
}

.about h2,
.materi h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.materi h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
    text-align: justify;
}

/* AKHIR ABOUT SECTIONS */

/* MATERI SECTIONS */

.materi h2,
contact h2 {
    margin-bottom: 1rem;
}

.materi p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 700;
    line-height: 1.6;
    font-size: 2rem;
    color: #beb420;
}

.materi .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.materi .row .materi-card {
    text-align: center;
    padding-bottom: 4rem;
}

.materi .row .materi-card img {
    border: 0.3rem solid var(--primary);
    border-radius: 50%;
    width: 80%;
}

.materi .row .materi-card .materi-card-title {
    margin-top: 1rem auto 0.5rem;
}

.materi .row .materi-card a {
    background-color: var(--primary);
    padding: 0.2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--bg);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* AKHIR MATERI SECTIONS */

/* FGOTER SECTIONS */
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0.3rem;
    margin-top: 3rem;
}

footer .social {
    padding: 1rem 0;
}

footer .social a {
    color: black;
    margin: 1rem;
}

footer .social a:hover,
footer .link a:hover {
    color: var(--bg);
}

footer .social .clock {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0.3rem;
}

footer .link {
    display: inline-block;
    margin-bottom: 1.4rem;
}

footer .link a {
    color: black;
    padding: 1.7rem 1rem;
}

footer .credit {
    font-size: 0.8rem;
    color: #010101;
}

footer .credit a {
    color: var(--bg);
    font-weight: 700;
}

/* AKHIR FOOTER SECTIONS */


/* MEDIA QUERIES */
/* LAPTOP */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* TABLET */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: white;
        width: 30rem;
        height: 100vh;
        transition: 0.7s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5px;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.2rem;
    }

    .menu p {
        font-size: 1.6rem;
    }
}

/* HANDPHONE */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}

/* AKHIR MEDIA QUERIES */